{% extends 'base.html' %}

{% block content %}

<title>Getting There - {{ line.name }} Status</title>

<div class="mb20 flx-row flx-ctr-xy">
    <img src="/static/bullets/{{ line.id }}.svg" alt="2" width="48" data-canonical-src="/static/bullets/{{ line.id }}.svg" style="max-width:100%;">
    <div class="mr20"></div>
    
    <h4>Status</h4>
</div>

<ul class="collection">
{% for station in stations %}
    <li class="collection-item">
        <div class="list-text">
            {{ station.name }}
            <a class="secondary-content" href="/alerts/{{ station.mta_uid }}/{{ line.id }}">
                <i class="material-icons blue-text">send</i>
            </a>
            <a class="secondary-content">
                <i class="material-icons white-text">_</i>
            </a>
            {% if station.id in trip_station_ids %}
                <a class="secondary-content" href="/trips/edit">
                    <i class="material-icons light-blue-text text-darken-4">edit</i>
                </a>
            {% else %}
                <a class="secondary-content" href="/trips/new/{{ station.mta_uid }}/{{ line.id }}">
                    <i class="material-icons green-text">add_circle</i>
                </a>
            {% endif %}
            <a class="secondary-content">
                <i class="material-icons white-text">_</i>
            </a>
            <a class=secondary-content"></a>
            {% if station.id in alert_station_ids %}
                <a class="secondary-content" href="/alerts/{{ station.mta_uid }}/{{ line.id }}" class="secondary-content">
                    <i class="material-icons yellow-text text-darken-3">warning</i>
                </a>
            {% endif %}
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}