{% extends 'base.html' %}

{% block content %}

<title>Getting There - {{ line.name }} Status</title>

<div class="mb20 flx-row flx-ctr-xy">
    <div class="flx-ctr-xy line-emblem line-emblem-lg{% if line.express %}-diamond diamond{% endif %}" style="background-color:{{ line.color }};color:{{ line.text_color }}">
        <div class="{% if line.express %} undiamond {% endif %}">{{ line.name }}</div>
    </div>
    <div class="mr20"></div>
    <h4>Status</h4>
</div>

<ul class="collection">
{% for station in stations %}
    <li class="collection-item">
        <div>
            {{ station.name }}
            {% if station.id in trip_station_ids %}
                <a class="secondary-content" href="/trips/edit">
                    <i class="material-icons light-blue-text text-darken-4">edit</i>
                </a>
            {% else %}
                <a class="secondary-content" href="/trips/new/{{ line.id }}/{{ station.id }}">
                    <i class="material-icons green-text">add_circle</i>
                </a>
            {% endif %}
            <a class=secondary-content"></a>
            {% if station.id in alert_station_ids %}
                <a class="secondary-content" href="/alerts/{{ station.id }}/{{ line.id }}" class="secondary-content">
                    <i class="material-icons yellow-text text-darken-3">warning</i>
                </a>
            {% endif %}
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}