{% extends 'base.html' %}

{% block content %}

<title>Getting - All lines</title>

<!-- <h1>All Lines</h1> -->

{% for group, lines in grouped_lines.items %}
    <div class="container">
        <table>
            <tr>
                <td class="line-container">
                    {% for line in lines %}
                        <a class="mr10 ctr-txt" style="text-decoration:none; color:inherit" href="/lines/{{ line.id }}">
                            <img src="/static/bullets/{{ line.id }}.svg" alt="2" width="48" data-canonical-src="/static/bullets/{{ line.id }}.svg" style="max-width:100%;">
                        </a>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
{% endfor %}

{% endblock %}