h1 {
    color: #1565C0;
    text-align: center;
}

#my-trips, #all-lines{
    display: inline-block;
    margin: 0px 0px 10px 0px;
}

#train-icon {
    padding: 0px 10px 0px 0px;
}

#lines-icon {
    padding: 0px 10px 0px 0px;
}

#sign-up-card {
    padding: 20px;
}

#submit-trip-button {
    margin: 20px 0px 0px 0px;
}

#submit-alert-button {
    margin: 20px 0px 0px 0px;
}
/* 
#selector-row {
    margin: 20px 0px 0px 0px;
} */
/* 
#selector-row-two {
    display: inline;
    color: black;
} */

#alert-card-panel {
    margin: 0;
    padding: 0;
}

#trip-card-panel {
    margin: 0;
    padding: 0;
}

#line-icon-spacing {
    margin: 10px;
}

.form-center-text {
    font-size: 15px;
    margin: 20px;
}

.unresolved-alert-icon {
    height: 45px;
    width: 45px;
    background-color: #e53935;
    border-radius: 50%;
    margin: auto;
}

.resolved-alert-icon {
    height: 45px;
    width: 45px;
    background-color: #388e3c;
    border-radius: 50%;  
    margin: auto;
}

.form-label {
    background-color: #C7C3FA;
    font-size: 25px;
    padding: 15px 0px 15px 15px;
    font-weight: bold;
}
.form-style {
    padding: 0px 15px 15px 15px;
}

.my-trip-text {
    color: black;
}

.line-emblem {
    border-radius: 50%;
    align-content: center;
    font-family: Helvetica;
    text-align: center;
    display: inline-block;
}

.line-emblem-sm {
    width: 1em;
    height: 1em;
    font-size: 1em;
    border-radius: 50%;
}

.line-emblem-md {
    width: 1.4em;
    height: 1.4em;
    font-size: 1.2em;
    border-radius: 50%;
}

.line-emblem-lg {
    width: 1.9em;
    height: 1.9em;
    font-size: 1.7em;
    border-radius: 50%;
}

.line-emblem.diamond {
    border-radius: 0px;
}

.line-emblem-sm-diamond {
    width: .9em;
    height: .9em;
    font-size: .9em;
    border-radius: 0px;
}

.line-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.line-emblem-md-diamond {
    width: 1.15em;
    height: 1.15em;
    font-size: 1.15em;
    border-radius: 0px;
}

.line-emblem-lg-diamond {
    width: 1.7em;
    height: 1.7em;
    font-size: 1.5em;
    border-radius: 0px;
}

.hel {
    font-family: Arial, Helvetica, sans-serif
}

.flex {
    display: flex;
}

/* .trip-row {
    display: flex;
    align-items: center;
} */



.flex-center {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.mb10 {
    margin-bottom: 10px;
}

.bold {
    font-weight: 550;
}

.boldish {
    font-weight: 450;
}

.lg-ft {
    font-size: 2.2em;
}

.pr100 {
    padding-right: 100px;
}
.undiamond {
    transform: rotate(-45deg);
}

.diamond {
    transform: rotate(45deg);
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.ctr-txt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-row {
    display: flex;
    align-items: center;
    align-content: center;
}

label {
    color: rgb(62, 62, 62) !important;
}

.trip-edit-row {
    display: flex;
    justify-content: space-between;
}

.trip-edit-row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-red {
    color: #e53935;
}

.icon-green {
    color: green;
}

.hidden-val {
    color: white
}

.flx-row {
    display: flex;
    align-items: center;
}

.flx-ctr-xy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctr-pg {

}