h1 {
    color: red;
    text-align: center;
}

/* TODO: replace hacky input styles with something from Materialize */

input[type=checkbox] {
    opacity: 1 !important;
    position: inherit !important;
    pointer-events: all !important;
    margin-left: 10px;
}

select {
    display: block;
}

#my-trips, #all-lines{
    display: inline-block;
}

.line-emblem {
    border-radius: 50%;
    align-content: center;
    font-family: Helvetica;
    text-align: center;
    display: inline-block;
}

.line-emblem-sm {
    width: 1em;
    height: 1em;
    font-size: 1em;
}

.line-emblem-md {
    width: 1.4em;
    height: 1.4em;
    font-size: 1.2em;
}

.line-emblem-lg {
    width: 1.9em;
    height: 1.9em;
    font-size: 1.7em;
}

.line-emblem.diamond {
    border-radius: 0;
    /* TODO: make this a diamond shape */
}