{% extends 'base.html' %}

{% block content %}

<title>Getting There - Alert Detais</title>

<h1>Alert Details</h1>

<div>
    <div style="background-color:orange">
        <div>
            <div>{{ alert.station.name }}</div>
            <div class="line-emblem line-emblem-md {% if alert.line.express %} diamond {% endif %}" style="background-color:{{ alert.line.color }};color:{{ alert.line.text_color }}">
                {{ alert.line.name }}
            </div>
            <div>{{ alert.direction }}</div>
        </div>
        <div id="voting-container">
                <div id="vote-resolved-container">
                    <div>{{ resolved_tally }} Riders Say</div>
                    <a href="/alerts/{{ alert.id }}/mark_resolved"><button>Mark Resolved</button></a>
                    {% if resolved_tally >= 1 %}
                        <div>As of {{ resolved_last }} min</div>
                    {% endif %}
                </div>
                <div id="vote-ongoing-container">
                    <div>{{ ongoing_tally }} Riders Say</div>
                    <a href="/alerts/{{ alert.id }}/mark_ongoing"><button>Mark Ongoing</button></a>
                    {% if ongoing_tally >= 1 %}
                        <div>As of {{ ongoing_last }} min</div>
                    {% endif %}
                </div>
        </div>
    </div>
    <div style="background-color:yellow">
        SORT & FILTER DROP DOWNS
        <a href="/alerts/{{ alert.id }}/add_comment"><button>Add Comment</button></a>
    </div>
    <div style="background-color:green" class="all_comments">
        {% for comment in comments %}
            <div class="comment_container">
                {% if comment.user__id == user_id %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ comment.id }}
                        <button id="{{ comment.id }}"" name="{{ comment.id }}" type="submit">&#128465;</button>
                    </form>
                {% endif %}
                <div class="comment_body">{{ comment.user__username }}</div>
                <div class="comment_body">{{ comment.created_at }}</div>
                <div class="comment_body">{{ comment.message }}</div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}