{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<title>Getting There - Alert Detais</title>
<div class="flx-row center">
    <a class="cente flx-row" href="/alerts/{{ origin_station.station__id }}/{{ origin_station.line__id }}"><i class="medium material-icons icon-red">navigate_before</i>Back to Alerts</a>
    <div></div>
    <!-- <p>Alert Details</p> -->
</div>

<div>
    <div class="trip-container card-panel">
        <div name="station-text-container" class="flx-row space-btw row">
            <div class="col s3">
                <div class="station-text bold flex-center center-align">
                    <div class=" mb10 my-trip-text">
                        {{ alert.station.name }}
                    </div>
                    <img class="mb15" src="/static/bullets/{{ alert.line.id }}.svg" alt="2" width="48" data-canonical-src="/static/bullets/{{ alert.line.id }}.svg" style="max-width:100%;">
                    <div class=" my-trip-text">
                        {{ alert.direction }}
                    </div>
                </div>
            </div>
            <div class="col s1"></div>
            <div class="col s4">
                <div name="resolved-container" class="flex-center">
                    <div class="bold">
                        {% if resolved_tally %}
                            <div>{{ resolved_tally }} Rider{% if resolved_tally > 1 %}s{% endif %} Say{% if resolved_tally == 1 %}s{% endif %}</div>
                        {% else %}
                            <div>Mark Resolved</div>
                        {% endif %}
                    </div>
                    <a class="center" href="/alerts/{{ alert.id }}/mark_resolved"><i class="medium material-icons icon-green">thumb_up</i></a>
                    {% if resolved_tally >= 1 %}
                        <div>Resolved</div>
                        <div>As of {{ resolved_last|naturaltime }}</div>
                    {% else %}
                        <div class="invisible">_</div>
                        <div class="invisible">_</div>
                    {% endif %}
                </div>
            </div>
            <div class="flex-center col s4">
                <div name="ongoing-container" class="flex-center">
                    <div class="bold">
                        {% if ongoing_tally %}
                            <div>{{ ongoing_tally }} Rider{% if ongoing_tally > 1 %}s{% endif %} Say{% if ongoing_tally == 1 %}s{% endif %}</div>
                        {% else %}
                            <div>Mark Ongoing</div>
                        {% endif %}
                    </div>
                    <a class="center" href="/alerts/{{ alert.id }}/mark_ongoing"><i class="medium material-icons icon-red">thumb_down</i></a>
                    {% if ongoing_tally >= 1 %}
                    <div>Ongoing</div>    
                    <div class="center">As of {{ ongoing_last|naturaltime }}</div>
                    {% else %}
                        <div class="invisible">_</div>
                        <div class="invisible">_</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        <div id="voting-container">
        </div>
    <h3 class="center-align"> Rider Discussion </h3>
    <div class="row">
        <div class="col s3">
            <select name="sort-by-age">
                <option value="" disabled selected>Sort by age</option>
                <option class="hidden-val" value="newest">Newest</option>
                <option class="hidden-val" value="oldest">Oldest</option>
            </select>
        </div>
        <div class="col s3">
            <select name="filter-by-age">
                <option value="" disabled selected>Minutes</option>
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="90">90</option>
                <option value="Today">Today</option>
            </select>
        </div>
        <div class="col s3"></div>
        <a class="btn col s3" href="/alerts/{{ alert.id }}/add_comment">Add Comment</a>
    </div>
    <div class="all_comments">
            {% for comment in comments %}
            <div class="comment_container">
                <div class="card-panel">
                    {% if comment.user__id == user_id %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <button id="{{ comment.id }}"" name="{{ comment.id }}" type="submit">&#128465;</button>
                        </form>
                    {% endif %}
                    <div class="comment_body">{{ comment.user__username }}</div>
                    <div class="comment_body">{{ comment.created_at }}</div>
                    <div class="comment_body">{{ comment.message }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}