{% extends 'base.html' %}

{% block content %}

<title>Getting There - Station Alerts</title>

<h1>Station Alerts</h1>

<span>Filter by:</span>
<form action="" method="POST">
    <div name="navigation" class="row">
        <div class="input-field col s3">
            <!-- <label for="filter-on-line">hay hay hay</label> -->
            <select class="multiple icons" required="required" name="trip_type" name="filter-on-line">
                <option value="" disabled selected>Line(s)</option>
                {% for line in lines %}
                    <option value="{{ line.id }}">
                        <div class="line-emblem line-emblem-md {% if line.express %} diamond {% endif %}" style="background-color:{{ line.color }};color:{{ line.text_color }}">
                            <div class="line-name {% if line.express %} undiamond {% endif %}">{{ line.name }}</div>
                       </div>
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="input-field col s3">
            <select class="multiple icons" required="required" name="trip_type">
                <option value="" disabled selected>Distance</option>
                <option value="AM">AM</option>
                <option class="red" value="PM">PM</option>
                <option value="Both">Both</option>
            </select>
        </div>
        <div class="input-field col s3">
            <select class="" required="required" name="trip_type">
                <option value="" disabled selected>Recency</option>
                <option value="AM">AM</option>
                <option class="red" value="PM">PM</option>
                <option value="Both">Both</option>
            </select>
        </div>
        <!-- <div class="col s1"></div> -->
        <button type="submit" class="input-field col s3 btn">Filter</button>
    </div>
</form>
<div class="row">
    <div class="col s3"></div>
        <a href="/alerts/new/{{ station_id }}/{{ line_id }}"></a>Add Alert<button type="button" class="input-field col s6 btn">Add Alert</button></a>
    <div class="col s2"></div>
</div>


<div>
    <a href="/alerts/new/{{ station_id }}/{{ line_id }}"><button>Add Alert</button></a>
</div>
{% if alerts %}

{% for alert in alerts %}
<a href="/alerts/{{ alert.id }}">
    <div>
        <div>{{ alert.station__name }}</div>
        <div class="line-emblem line-emblem-md {% if alert.line__express %} diamond {% endif %}" style="background-color:{{ alert.line__color }};color:{{ alert.line__text_color }}">
            <div class="line-name {% if alert.line__express %} undiamond {% endif %}">{{ alert.line__name }}</div>
        </div>
        <div>{{ alert.direction }}</div>
    </div>
</a>
{% endfor %}

{% else %}
<p>No current alerts for this station and line combo</p>
{% endif %}

<script>
// $(document).ready(function() {
//     $('select').material_select();
// });
</script>

{% endblock %}