{% extends 'base.html' %}

{% block content %}

<title>Getting There - Station Alerts</title>

<!-- <h1>Station Alerts</h1> -->
<div class="row">
    <div class="col s12">
        <a id="add-alert" class="input-field col s12 btn" href="/alerts/new/{{ station_id }}/{{ line_id }}">Add Alert</a>
    </div>
</div>

<span>Filter by:</span>
<form action="" method="POST">
    {% csrf_token %}
    <div name="navigation" class="row">
        <div class="input-field col s3">
            <select multiple icons name="line_ids">
                <option value="" disabled selected>Line(s)</option>
                {% for line in lines %}
                    <option class="hidden-val" value="{{ line.id }}" data-icon="/static/bullets/{{ line.id }}.svg"></option>
                {% endfor %}
            </select>
        </div>
        <div class="input-field col s3">
            <select name="stations_away">
                <option value="" selected>Stations Away</option>
                <option value="0">See entire line</option>
                {% for range in distance %}
                    <option value="{{ range }}">{{ range }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-field col s3">
            <select name="age_of_alert">
                <option value="" selected>Minutes</option>
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="90">90</option>
                <option value="Today">Today</option>
            </select>
        </div>
        <button type="submit" class="input-field col s3 btn">Filter</button>
    </div>
    </form>
    
    {% if alerts %}
    
    {% for alert in alerts %}
    <a href="/alerts/{{ alert.id }}">
        <div class="card-panel black-text">
        <div class="flx-row row">
            <div class="col s4">
                <div class="pr100 flex-center center-align">
                    <div class="station-text bold mb10 my-trip-text">
                        {{ alert.station__name }}
                    </div>
                    <img class="mb15" src="/static/bullets/{{ alert.line__id }}.svg" alt="2" width="80" data-canonical-src="/static/bullets/{{ alert.line__id }}.svg" style="max-width:100%;">
                    <div class="station-text bold my-trip-text">
                        {{ alert.direction }}
                    </div>
                </div>
            </div>
                <div class="col s4">
                    comments
                </div>
                <div class="col s4">
                    <div class="flex-center">
                        <div class="station-text mb10 center">Latest Status</div>
                        {% if alert.resolved %}
                            <i class="material-icons large green-text text-darken-4">train</i>
                        {% else %}
                            <i class="material-icons large red-text text-darken-4">do_not_disturb_on</i>
                        {% endif %}
                        {% if alert.updated_at %}
                            <div class="station-text center">As of {{ alert.updated_at }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    
    {% else %}
    <p>No current alerts for this station and line combo</p>
    {% endif %}

<script>
// $(document).ready(function() {
//     $('select').material_select();
// });
</script>

{% endblock %}