{% extends 'base.html' %}

{% block content %}
<div id="alert-card-panel" class="card-panel">
    <div class="row">
        <div class="form-label" class="col s12">New Alert</div>
    </div>
<title>Getting There - Create Alert</title>    
    <form class="form-style" action="" method="POST">
        {% csrf_token %}
        <h5>Station</h5>
        <div>
        {{ station.name }}
        </div>
        <h5>How long have you been waiting?</h5>
            <p class="range-field">
                <input name="wait_time" type="range" min="0" max="60" placeholder="minutes"/>
            </p>
        <!-- <select name="wait_time">
            {% for minute in minute_range %}
                <option value="{{ minute }}">{{ minute }} Minutes</option>
            {% endfor %}
                <option value="60">Over an hour</option>
        </select> -->
        <h5>Which trains are affected?</h5>
        {% for line in train_lines %}
        <div id="selector-row" class="checkbox-row mb10">
            <label for="{{line.id}}_{{line.direction}}">
                <input type="checkbox" class="filled-in" id="{{line.id}}_{{line.direction}}" name="{{line.id}}_{{line.direction}}">
                <span id ="selector-row-two" >
                <div class="mr10 line-emblem line-emblem-md{% if line.express %}-diamond diamond{% endif %}" style="background-color:{{ line.color }};color:{{ line.text_color }}">
                    <div class="line-name {% if line.express %} undiamond {% endif %}">{{ line.name }}</div>
                </div>
                <span>{{ line.direction }}</span>
                </span>
            </label>
        </div>
        {% endfor %}
        <h5>Comment(optional)</h5>
        <div class="input-field col 12">
            <textarea class="materialize-textarea" id="textarea1" cols="30" rows="10"></textarea>
            <label for="textarea1"></label>
        </div>
        <a href="/lines/{{ line_id }}" id="submit-trip-button" class="btn red" value="Cancel">Cancel</a>
        <input id="submit-alert-button" class= "submit-trip-button btn blue darken-3" type="submit" value="Create Alert">
    </form>
</div>
{% endblock %}