{% extends 'base.html' %}

{% block content %}

<title>Getting - Edit Trips</title>

<h1>Edit Trips</h1>
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <div name="am-trips">
            <div class="trip-edit-row-header mb20">
                <h5>AM Trips</h5><button type="submit">Delete</button>
            </div>
                {% for trip in trips %}
                    {% if trip.trip_type == 'AM' %}
                        <div class="trip-edit-row mb15">
                            <label for="{{ trip.id }}">
                                <input type="checkbox" class="filled-in" id="{{ trip.id }}" name="{{ trip.id }}">
                                <span>
                                    <div class="trip-edit-row">
                                        <div class="mr15 line-emblem line-emblem-md {% if trip.line.express %}-diamond diamond{% endif %}" style="background-color:{{ trip.line.color }};color:{{ trip.line.text_color }}">
                                            <div class="{% if trip.line.express %} undiamond {% endif %}"">{{ trip.line.name }}</div>
                                        </div>
                                        <div class="mr10 bold">{{ trip.station.name }}</div>
                                        <div class="boldish">({{ trip.direction }})</div>
                                    </div>
                                </span>
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
        <div class="mb20"></div>
        <div name="pm-trips">
            <div class="trip-edit-row-header mb20">
                <h5>PM Trips</h5><button type="submit">Delete</button>
            </div>
            {% for trip in trips %}
                {% if trip.trip_type == 'PM' %}
                    <div class="trip-edit-row mb15">
                        <label for="{{ trip.id }}">
                            <input type="checkbox" class="filled-in" id="{{ trip.id }}" name="{{ trip.id }}">
                            <span>
                                <div class="trip-edit-row">
                                    <div class="mr15 line-emblem line-emblem-md {% if trip.line.express %}-diamond diamond{% endif %}" style="background-color:{{ trip.line.color }};color:{{ trip.line.text_color }}">
                                        <div class="{% if trip.line.express %} undiamond {% endif %}"">{{ trip.line.name }}</div>
                                    </div>
                                    <div class="mr10 bold">{{ trip.station.name }}</div>
                                    <div class="boldish">({{ trip.direction }})</div>
                                </div>
                            </span>
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}