{% extends 'base.html' %}

{% block content %}

<title>Getting - Edit Trips</title>

<h1>Edit Trips</h1>
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <div name="am-trips">
            <div class="trip-edit-row-header mb20">
                <h5>AM Trips</h5><button class="btn red" type="submit">Delete</button>
            </div>
                {% for trip in trips %}
                    {% if trip.trip_type == 'AM' %}
                        <div class="flx-row mb20">
                            <label class="flx-row" for="{{ trip.id }}">
                                <input type="checkbox" class="filled-in" id="{{ trip.id }}" name="{{ trip.id }}">
                                <span class="flx-row">
                                    <div class="flx-row">
                                        <img class="mr10" src="/static/bullets/{{ trip.line.id }}.svg" alt="2" width="30" data-canonical-src="/static/bullets/{{ trip.line.id }}.svg" style="max-width:100%;">
                                        <div class="mr10 bold">{{ trip.station.name }}</div>
                                        <div class="boldish">({{ trip.direction }})</div>
                                    </div>
                                </span>
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
        <div class="mb20"></div>
        <div name="pm-trips">
            <div class="trip-edit-row-header mb20">
                <h5>PM Trips</h5><button class="btn red" type="submit">Delete</button>
            </div>
            {% for trip in trips %}
                {% if trip.trip_type == 'PM' %}
                    <div class="flx-row mb20">
                        <label class="flx-row" for="{{ trip.id }}">
                            <input type="checkbox" class="filled-in" id="{{ trip.id }}" name="{{ trip.id }}">
                            <span class="flx-row">
                                <div class="flx-row">
                                    <img class="mr10" src="/static/bullets/{{ trip.line.id }}.svg" alt="2" width="30" data-canonical-src="/static/bullets/{{ trip.line.id }}.svg" style="max-width:100%;">
                                    <div class="mr10 bold">{{ trip.station.name }}</div>
                                    <div class="boldish">({{ trip.direction }})</div>
                                </div>
                            </span>
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}