{% extends 'base.html' %}

{% block content %}
<div id="trip-card-panel" class="card-panel">
    <div class="row">
            <div class="form-label" class="col s12">New Trip</div>
    </div>
    <form class="form-style" action="#" method="POST">
        {% csrf_token %}
        <h5>Station</h5>
            <div>{{ station.name }}</div>
        <h5 for="trip_type">When do you travel from this station?</h5>
        <div class="input-field col s12">
            <select class="red-text" id="selector" required="required" name="trip_type">
                <option value="" disabled selected>Please choose...</option>
                <option value="AM">AM</option>
                <option class="red" value="PM">PM</option>
                <option value="Both">Both</option>
            </select>
        </div>
        <h5 class="mb20">Which trains do you take from here?</h5>
        <!-- TODO need to fix this to put into a two-column view MF -->
        {% for line in train_lines %}
            <div id="selector-row" class="mb20">
                <label for="{{line.id}}_{{line.direction}}">
                <input type="checkbox" class="filled-in" id="{{line.id}}_{{line.direction}}" name="{{line.id}}_{{line.direction}}">
                <span id ="selector-row-two" >
                <div class="mr10 line-emblem line-emblem-md{% if line.express %}-diamond diamond{% endif %}" style="background-color:{{ line.color }};color:{{ line.text_color }}">
                    <div class="{% if line.express %} undiamond {% endif %}">{{line.name}}</div>
                </div>
                <span>{{ line.direction }}</span>
                </span>
                </label>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col s1"></div>
            <a href="/lines/{{ line_id }}" class="btn red col s4">Cancel</a>
            <div class="col s2"></div>
            <input class="btn blue darken-3 col s4" type="submit" value="Add Trip">
            <div class="col s1"></div>
        </div>
    </form>
</div>
{% endblock %}