{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Getting There</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="nav-wrapper blue darken-3">
        <div class="container">
            <a href="/" class="brand-logo">&nbsp;&nbsp;Getting There</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons hide-on-large-only">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <ul class="sidenav blue darken-3" id="mobile-links"> 
        <li><a class="white-text" href="{% url 'home' %}">Home</a></li>
        <li><a class="white-text" href="{% url 'about' %}">About</a></li>
        {% if user.is_authenticated %}
        <li><a class="white-text" href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <li><a class="white-text" href="{% url 'signup' %}">Sign Up</a></li>
        <li><a class="white-text" href="{% url 'login' %}">Log In</a></li>
        {% endif %}
    </ul>
    <div class="row">
        <div class="col s12"></div>
        <a id="my-trips" href="#" class="btn-large waves-effect waves-light col s6 grey darken-3" name="action"><i id="train-icon" class="material-icons">train</i>My Trips</a>
        <a id="all-lines" href="{% url 'lines_index' %}" class="btn-large waves-effect waves-light col s6 grey darken-3" name="action"><i id="lines-icon" class="material-icons">looks_6</i>All Lines</a>
    </div>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
var elems = document.getElementById('mobile-links');
M.Sidenav.init(elems);
</script>
</html>