{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<title>Getting There - Home</title>

<div class="flx-row space-btw">
    <div>
        <h4>My Trips</h4>
    </div>
    <div>
        <a href="/trips/edit"><button class="btn blue w20">Edit Trips</button></a>
    </div>
</div>

{% if trips %}
<div name="all-trips">
    {% for trip in trips %}
        <a class="boldish blue-grey-text text-darken-4" href="alerts/{{ trip.mta_uid }}/{{ trip.line__id }}/">
            <div class="trip-container card-panel">
                <div class="flx-row row">
                    <div class="col s3">
                        <div class="station-text bold flex-center center-align">
                            <div class="mb10 my-trip-text">
                                {{ trip.station__name }}
                            </div>
                            <img class="mb15" src="/static/bullets/{{ trip.line__id }}.svg" alt="2" width="70" data-canonical-src="/static/bullets/{{ trip.line__id }}.svg" style="max-width:100%;">

                            <div class="my-trip-text">
                                {{ trip.direction }}
                            </div>
                        </div>
                    </div>
                    <div class="col s1"></div>
                    <div class="col s4">
                        {% if trip.next_three %}
                            <div class="form-center-text bold center">Upcoming trains:</div>
                            <div class="form-center-text bold center">{{ trip.next_three }}</div>
                        {% else %}
                            <div class="form-center-text center">No upcoming train information at this time</div>
                        {% endif %}
                    </div>
                    <div class="col s4">
                        <div class="flex-center">
                            <div class="station-text mb10 center bold">Latest Status</div>
                            {% if not trip.resolved %}
                                <i class="material-icons large red-text text-darken-4">do_not_disturb_on</i>
                            {% else %}
                                <i class="material-icons large light-green-text text-accent-5">train</i>
                            {% endif %}
                            {% if trip.alert_count > 0 %}
                                <div class="station-text center">{{ trip.alert_count }} Delays Reported</div>
                            {% else %}
                                <div class="station-text center">No Delays Reported</div>
                            {% endif %}
                            {% if trip.status_updated_at %}
                                <div class="station-text center">As of {{ trip.status_updated_at|naturaltime }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <p>You currently do not have any lines added to your trips. Access the All Lines page to add trips.</p>
{% endif %}

{% endblock %}