{% extends 'base.html' %}

{% block content %}

<title>Getting There - Home</title>

<h1>My Trips</h1>
{% if trips %}
<div name="all-trips">
    {% for trip in trips %}
        <a class="boldish blue-grey-text text-darken-4" href="alerts/{{ trip.station__id }}/{{ trip.line__id }}/">
            <div class="trip-container card-panel">
                <div class="trip-row row">
                    <div class="col s4">
                        <div class="pr100 flex-center center-align">
                            <div class="station-text bold mb10 my-trip-text">
                                {{ trip.station__name }}
                            </div>
                            <img class="mb15" src="/static/bullets/{{ trip.line__id }}.svg" alt="2" width="48" data-canonical-src="/static/bullets/{{ trip.line__id }}.svg" style="max-width:100%;">

                            <div class="station-text bold my-trip-text">
                                {{ trip.direction }}
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="form-center-text center">Next 3 trains will go here</div>    
                        <div class=" orm-center-text center">Delay Alerts: {{ trip.alert_count }}</div>
                    </div>
                    <div class="col s4">
                        <div class="flex-center">
                            <div class="station-text mb10 center">Latest Status</div>
                            {% if trip.resolved %}
                                <div class="mb10 resolved-alert-icon"></div>
                            {% else %}
                                <div class="mb10 unresolved-alert-icon center"></div>
                            {% endif %}
                            <div class="station-text center">As of {{ trip.updated_at }}</div>
                        </div>
                    </div>
                </div>
                    <!-- Trip Type: ({{ trip.trip_type }}) -- remove later, only here for debug feedback -->
            </div>
</div>
    {% endfor %}
</div>
{% else %}
    <p>You currently do not have any lines added to your trips. Access the All Lines page to add trips.</p>
{% endif %}

{% endblock %}