{% extends 'base.html' %}

{% block content %}

<title>Getting There - Home</title>

<h1>My Trips</h1>
{% if trips %}
<div name="all-trips">
    {% for trip in trips %}
        <a href="stations/alerts/{{ trip.station__id }}/{{ trip.line__id }}/">
            <div>
                <div>{{ trip.station__name }}</div>
                <div class="line-emblem line-emblem-md {% if trip.line__express %} diamond {% endif %}" style="background-color:{{ trip.line__color }};color:{{ trip.line__text_color }}">
                    {{ trip.line__name }}
                </div> 
                <div>{{ trip.direction }}</div>

                <div>Next 3 trains will go here</div>
                <div>Alert Count</div>
                <div>Latest Status</div>
                <div>As of</div>

                ({{ trip.trip_type }}) -- remove later, only here for debug feedback
            </div>
            -----
        </a>
    {% endfor %}
</div>
{% else %}
    <p>Hi! Add trips by going to the <a href="/lines">All Lines</a> page and selecting the trains and stations you travel from most.</p>
{% endif %}

{% endblock %}